body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: sans-serif;
}

a {
  color: #75e06b;
  text-decoration: none;
}

header, footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding-top: 2rem;
}

footer {
  font-size: small;
  text-align: center;
}

nav {
  padding-left: .52rem;
}

#forsideMenu {
  text-align: center;
  font-size: 200%;
}

#risings {
  text-align: center;
}

button {
  width: 150px;
}

td {
  font-size: 1.2rem;
  vertical-align: top;
  padding: .2rem;
  }

#info, h1, h2 {
  color:  #fff;
  overflow: auto;
}

.source {
  font-size: 75%;
}

/* Map styles */
#map {
  width: 80%;
  height: 500px;
  margin-left: auto;
  margin-right:auto;
}

.marker {
  /*background-image: url('mapbox-icon.png');*/
  background-color: red;
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1 px solid #000;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* Grid */
.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}
